<div class="spacer layer1">
<div *ngIf="user$ | async as user" class="mt-24">
  <div class="flex justify-center">
  <h1 class="text-center text-5xl mt-24 font-bold text-white">

    Welcome to your Personal Garage,
    </h1>
    <h1 class="text-center ml-3 text-5xl mt-24 font-bold text-red-400">  {{ this.username }}!
  </h1>
  </div>

<div class="mx-auto max-w-7xl rounded-lg p-4 mt-24 bg-dark">
  <div>
    <p *ngIf="this.hasGarage === true" class="mt-4 mb-4 ml-28 max-w-md text-3xl text-white">Your Vehicles:</p>
    <h2 *ngIf="this.hasCars === false && this.hasGarage === true" class="mt-4 mb-2 ml-28 max-w-md text-xl text-white font-normal italic">You have no vehicles in your garage yet.</h2>	
    <h2 *ngIf="this.hasCars === false && this.hasGarage === true" class="mb-4 ml-28 max-w-md text-xl text-white font-normal italic">Buy a car <a routerLink="/catalog" class="underline">by visiting the catalog</a></h2>	
    <p *ngIf="this.hasGarage === false" class="mt-4 mb-4 ml-96 max-w-md text-3xl text-white italic">Uh oh, it looks like you have not opened your garage yet.</p>
    <button *ngIf="this.hasGarage === false" class="ml-96 mt-4 mb-4 bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded-full" (click)="openGarage()">Open Garage</button>
  </div> 

    <div id="cars" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-4 max-w-5xl m-auto pb-44 mb-96">
      <div *ngFor="let car of cars$ | async">
        <car-net-garagecar-card [car]="car"></car-net-garagecar-card>
      </div>
    </div>
</div>
</div>
