<div class="flex"> 
  <p class="text-9xl text-white mt-36 ml-72 md:text-6xl">Welcome to <a class="text-9xl md:text-6xl text-red-400 mr-3" routerLink="about">Car-Net</a></p>
</div>
<div class="flex">
  <a routerlink="garages" class="text-6xl text-red-400 mr-3 ml-72">Your garage </a><p class="text-6xl text-white"> is waiting for you!</p>
</div>    

<div class="spacer layer1">
  <img class="lg:w-1/2 md:w-2/3 m-auto object-center xl:pt-48 lg:bottom-10 md:top-72 md:left-80 top-96 left-96 right-96 "
    src="https://cdn-09.imagin.studio/getImage?&customer=nljonaheikenhorstcompany&make=audi&modelFamily=e-tron&modelRange=e-tron&modelVariant=od&modelYear=2019&powerTrain=electric&transmission=0&bodySize=5&trim=eu&paintId=pspc0004sspc0199&angle=51"
    alt="Audi e-tron"
  />
</div>
