<div class="spacer layer1 pb-72">

    <div class="flex">
      <a routerLink="/home" class="text-5xl mt-32 ml-28 -mr-44"><i class="bi bi-arrow-return-left text-red-400"></i></a>
      <h1 class="text-center text-5xl mt-32 font-bold text-white mx-auto">
        Explore Garages
      </h1>
    </div>
    <h2 class="text-center text-2xl italic text-white mx-auto"> Check out other people's garages and leave a like on the garage you find intresting!</h2>

    <div class="mx-auto max-w-7xl rounded-lg p-4 mt-24 bg-dark">

      <div
        id="cars"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-56 gap-y-0 max-w-5xl m-auto mb-96"
      >
        <div class="mb-24 "*ngFor="let garage of garages$ | async">
          <car-net-garages-card [garage]="garage"></car-net-garages-card>
        </div>
      </div>
  </div>
</div>
