/* You can add global styles to this file, and also import other style files */
.about {
    margin: 20px;
}

body {
  margin: 20px;
  background-color: #212529;
}

html {
  background-color: #212529;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FA7268;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cd463a;
}