<div class="spacer layer1">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mt-8">
      <div class="mx-auto max-w-lg rounded-lg p-4 shadow-lg bg-dark">
        <h1 class="text-center text-2xl font-bold text-red-400 sm:text-3xl">
          Sign up
        </h1>
    
        <form
        [formGroup]="registerForm" (ngSubmit)="register()"
          class="mt-6 mb-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
        >
          <p class="text-center text-white text-lg font-medium">Please fill in the form in order to register</p>
          <div>
            <label for="username" class="sr-only">Username</label>
    
            <div class="relative">
              <input
                type="username"
                class="w-full rounded-lg border-gray-200 p-3 pr-12 text-sm shadow-sm"
                placeholder="Enter username"
                name="username"
                formControlName="username"
              />
              <span *ngIf="username.invalid && (username.dirty || username.touched)">
                <span class="text-error text-white" *ngIf="username.errors?.['required']">Username is required</span>
              </span>
    
              <span
                class="absolute inset-y-0 right-0 grid place-content-center px-4"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
    
            <div class="relative">
              <input
                type="email"
                class="w-full rounded-lg border-gray-200 p-3 pr-12 text-sm shadow-sm"
                placeholder="Enter email"
                name="email"	
                formControlName="email"
              />
              <span *ngIf="email.invalid && (email.dirty || email.touched)">
                <span class="text-error text-white" *ngIf="email.errors?.['required']">Email is required</span>
                <span class="text-error text-white" *ngIf="email.errors?.['email']">Provide a valid email</span>
              </span>
              <span
                class="absolute inset-y-0 right-0 grid place-content-center px-4"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                  />
                </svg>
              </span>
            </div>
          </div>
    
          <div>
            <label for="hash" class="sr-only">Password</label>
    
            <div class="relative">
              <input
                type="password"
                class="w-full rounded-lg border-gray-200 p-3 pr-12 text-sm shadow-sm"
                placeholder="Enter password"
                name="hash"
                formControlName="hash"
              />
              <span *ngIf="hash.invalid && (hash.dirty || hash.touched)">
                <span class="text-error text-white" *ngIf="hash.errors?.['required']">Password is required</span>
                <span class="text-error text-white" *ngIf="hash.errors?.['minlength']">Password must be 8 characters long</span>
              </span>
              <span
                class="absolute inset-y-0 right-0 grid place-content-center px-4"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div>
            <label for="repeatPassword" class="sr-only">Password</label>
    
            <div class="relative">
              <input
                type="Password"
                class="w-full rounded-lg border-gray-200 p-3 pr-12 text-sm shadow-sm"
                placeholder="Enter Password again"
                name="repeatPassword"
                formControlName="repeatPassword"
              />
              <span *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)">
                <span class="text-error text-white" *ngIf="repeatPassword.errors?.['required']">Please repeat your password for conformation</span>
               <span class="text-error text-white"
                     *ngIf="repeatPassword.errors?.['minlength']">Repeat Password must be 8 characters long</span>
              </span>
              <span
                class="absolute inset-y-0 right-0 grid place-content-center px-4"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
          </div>
    
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="block w-full rounded-lg bg-red-400 px-5 py-3 text-sm font-medium text-white"
          >
            Sign up
          </button>
          <p class="text-center text-sm text-gray-500">
            Already have an account?
            <a routerLink="/login" class="underline">Sign in</a>
          </p>
        </form>
      </div>
    </div>
  </div>