<div class="about">
<h1>Car-Net</h1>
<h5 class="ms-5"> by Jonah Eikenhorst | 2191148</h5>
<br>
<h5>Casus beschrijving:</h5>
<p>
De Car-Net webapplicatie is een platform voor gebruikers een garage willen beheren met daarin verschillende auto’s. Deze auto’s hebben ook verschillende eigenschappen die de gebruikers uit kunnen kiezen om zo hun gewenste auto te kunnen bestellen en toe te voegen aan hun garage. 

Er zijn twee type gebruikers; de eerste type, user, is de normale gebruiker. Je kan als gebruiker je eigen garage beheren door bijvoorbeeld auto’s toe te voegen of juist te verwijderen. Om een auto toe te voegen moet de gebruiker deze kopen via een fijn UI op de webapplicatie. Hier kan de gebruiker deze zelf naar wens samenstellen en eventueel op bepaalde factoren filteren. Denk hieraan bijvoorbeeld filteren op cartype; SUV, Hatchback, Station etc. Een auto heeft uiteraard een merk, dit merk kan andere merken bezitten als het hoofdmerk. 
Daarnaast heb je de twee type gebruiker: Admin, deze gebruiker kan verschillende merken, modellen en wielen toevoegen of verwijderen aan de applicatie. En verder kan een admin hetzelfde als de normale gebruiker.

Ook is het mogelijk om de garages van andere gebruikers te bezoeken. Hier kan je hun opgeslagen auto’s zien maar niet aanpassen. Ook kan je een garage van een ander persoon “Liken”. Op basis van deze likes krijgt de gebruiker andere garages aanbevolen.
</p>
<br>
<h5>User journeys:</h5>

<ul>
    <li>S.1: Een gebruiker bevindt zich op de homepagina. Hij/zij wilt graag een andere gebruikers garage bezoeken en klikt op de naam van een gebruiker. De gebruiker krijgt de inhoud van de garage te zien en wilt graag een like achter laten. Hiervoor klikt hij/zij op de “upvote” knop. Hierna keer de gebruiker terug naar de homepagina waar hij een aantal aanbevolen garages te zien krijgt. Dit is op basis van de like die hij heeft gegeven. </li>
    <li>S.2: Een nieuwe gebruiker komt voor het eerst op de homepagina. Hij krijgt een lijst te zien van aanbevolen garages gebaseerd op het aantal likes deze hebben. (Meest gelikte garages bijvoorbeeld)</li>
    <li>S.3: Een gebruiker logt in met zijn of haar inloggegevens. De gebruiker gaat naar zijn of haar eigen garage en bekijkt de inhoud. Vervolgens kiest hij of zij er voor om een specifieke wagen te verkopen waardoor deze verwijderd wordt uit de garage.</li>
    <li>S.4: Een gebruiker wilt een nieuwe auto kopen en deze toevoegen aan zijn of haar garage. Hij navigeert naar de catalogus en kiest het gewenste merk. Vervolgens stelt hij de rest van de eigenschappen en koopt de auto. Hij krijgt een soort bon “Purchase” en de auto wordt bij de garage van de gebruiker toegevoegd.</li>
</ul>
    
</div>





